@charset "UTF-8";
:root {
    --accent: #cf3046;
  }

  a,
  button {
    cursor: pointer;
  }

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.4;
  text-transform: uppercase;
}

.button {
  padding: 8px 16px;
  background: #fff;
  border: 1px solid rgb(207, 48, 70);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  color: #cf3046;
  line-height: 1.5em;
  margin: 0 0.16em;
}

.button:hover {
  background: #cf3046;
  border: 1px solid #f2f2f2;
  color: #fff;
}

.button-icon {
  margin-right: 6px;
}

.button-primary {
  background: #cf3046;
  border: 1px solid #f2f2f2;
  color: #fff;
}

.button-primary:hover {
  background: #ffffff;
  border: 1px solid #cf3046;
  color: #cf3046;
}

section {
  background-color: #1d1d1d;
}
section.inverse {
  color: #1d1d1d;
  background-color: #f1f1f1;
}

section .h2 {
  font-size: 30px;
  font-weight: 800;
  color: #cf3046;
}
section .h2 span {
  color: #fff;
}
section.inverse .h2 span {
  color: #1d1d1d;
}
section p {
  margin: 0;
}

.text-center {
  text-align: center; }

html, body {
    height: 100%;
}

body{
font-family: 'Open Sans', sans-serif;
line-height: 20px;
color: #fff;
font-size: 14px;
overflow-x: hidden;
}

.main-header{
    background: url(../img/header_cr.jpg) 0 0 repeat-x;
    padding: 30px 0 41px 0;
    
    /* background-size: cover; */
}

.main {
  height: 100vh;
  background-color: #fff;
}

.inner {
  background-color: #1d1d1d;
}

.header-block {
    height:  270px;
    background: url(../img/header-block.jpg) 0 0 repeat-x #1d1d1d;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 100;
}

.header-block__promo{
    height: 190px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    /* z-index: 2; */
    padding: 50px;
}

.header-block__logo{
    position: relative;
    display: flex;
}

.right-side {
  display: flex;
  justify-content: space-between;
}

.header-block__contact{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    border-right: 2px solid #2d2d2d;
    margin-top: 20px;
}

.phone span,
.mail span a
{
    color: #747474;
    text-decoration: none;
    font-weight: normal;
    line-height: 25px;
    margin-left: 5px;
}


/* search-form */.header-block__form {
  background: url(../img/form-search.jpg) 0 0 repeat-x #1c1c1c;
  border-bottom: #515152 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 27px 0 0 30px;
  float: right;
}
.header-block__form input {
  background: none;
  border: none;
  box-shadow: none;
  line-height: 18px;
  width: 288px;
  float: left;
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 5px;
}
.header-block__form input:focus {
  box-shadow: none;
}
.header-block__form a {
  margin: 0;
  display: inline-block;
  width: 40px;
  height: 33px;
  background: url(../img/search.png) 0 0 no-repeat;
  /* float: right; */
}
.header-block__form a:hover {
  background: url(../img/search.png) right 0 no-repeat;
}
/**/

.header-block__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
    background: url(../img/navbar.png) 0 0 repeat-x;
    border: none;
    min-height: inherit;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: wrap;
}

.header-menu ul,
.header-menu li{
    padding: 0;
    list-style-type: none;
}


.social-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.social-icons ul,
.social-icons li {
      margin: 0 5px;
      padding: 0;
      list-style-type: none;
    }

.language{
  height: 32px;
  width: 32px;
}

.lng-kz{
  display: flex;
  background: url(../img/kz2x.png) no-repeat top -32px left;
}

.lng-ru{
  display: flex;
  background: url(../img/ru2x.png) no-repeat  top -32px left;
}

.lng-ru:hover{
  background: url(../img/ru2x.png) no-repeat  top left;
}

.lng-kz:hover{
  background: url(../img/kz2x.png) no-repeat top left
}

.sub-menu::after {
    content: '';
    position: absolute;
    background: url(../img/li-marker.png) left top no-repeat;
    width: 7px;
    height: 5px;
    right: 50%;
    top: 50%;
    margin: 10px -3px 0 0;
}
    
    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    nav ul:after {
      content: "";
      display: table;
      clear: both;
    }
    nav a {
      text-decoration: none;
      display: block;
      transition: .3s linear;
    }
    
    .header-menu__topmenu > li {
      float: left;
      position: relative;
      border-left: 2px solid #2d2d2d;
    }
    .header-menu__topmenu > li:first-child {border-left: 0;}
    .header-menu__topmenu > li > a {  
      padding: 5px 10px;
      text-transform: uppercase;
      color: #FEFDFD;
      font-weight: bold;
    }

    .header-menu__topmenu > li.active > a,
    .header-menu__topmenu > li:hover > a, 
    .submenu a:hover {
        color: #cf3046;
        text-decoration: none;
    }

    .header-menu__topmenu .fa, 
    .submenu .fa {
      margin-left: 5px;
      color: inherit;
    }

    ul .submenu {
      position: absolute;
      z-index: 5;
      min-width: 220px;
      background: #1d1d1d;
      color: #fff;
      border: none;
      visibility: hidden;
      opacity: 0; 
      transform-origin: 0% 0%;
      transform: rotateX(-90deg);
      transition: .3s linear;  
    }
    .submenu li {position: relative;}
    .submenu li a {
      color: #fff;
      padding: 10px 20px;
      border-bottom: 1px solid #2b2b2b;
    }
    .submenu .submenu {
      position: absolute;
      left: 100%;
      top: -1px;
      transition: .3s linear;
    }
    nav li:hover > .submenu {
      transform: rotateX(0deg);
      visibility: visible;
      opacity: 1;
      background: #1d1d1d;
    color: #fff;
    border: none;
    }

.slider-pad{
    position: relative;
    min-width: 100vw;
    height: 100px;
    background: #ffffff;
    top: -80px;
}

.slider-pad-inverse{
  position: relative;
  min-width: 100vw;
  height: 110px;
  background: #1d1d1d;
  top: -80px;
}

.slider{
position: relative;
z-index: 1;
top: 20px;
}

.main-content{  
  color: #ffffff;
}

.main-page{
  padding: 50px 0;
}

.inner-page {
  padding: 0 0 50px;
}

.main-content__header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-content__title{
  margin-bottom: 50px;
}

/* .main-content__content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
} */

.content-center{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banners{
  margin-bottom: 50px;
}

.banners li{
  list-style: none;
  margin: 10px;
}

figure {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}
img {
  max-width: 100%;
}

img.img-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.strong {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.75em;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.main-content__par {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}

.article-list {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 5px;
  list-style: none;
}

.article-list::before {
  content: '•';
  color: #cf3046;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.75em;
  font-family: "Open Sans", sans-serif;
  margin-right: 10px;
}

.reviews {
  text-align: center; }
  .reviews .owl-dots {
    width: 100%;
    text-align: center;
    margin-top: 60px; }
    .reviews .owl-dots .owl-dot {
      width: 8px;
      height: 8px;
      background-color: #747474;
      -webkit-border-radius: 10em;
              border-radius: 10em;
      display: inline-block;
      margin: 5px;
      -webkit-transition: background-color .5s ease, -webkit-transform .5s ease;
      transition: background-color .5s ease, -webkit-transform .5s ease;
      -o-transition: background-color .5s ease, transform .5s ease;
      transition: background-color .5s ease, transform .5s ease;
      transition: background-color .5s ease, transform .5s ease, -webkit-transform .5s ease; }
      .reviews .owl-dots .owl-dot.active {
        background-color: #cf3046;
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
                transform: scale(1.3); }

.review {
  margin-top: 20px; }
  .review-header {
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 18px;
  }
  .review-date {
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-size: 15px;
    color: #888;
    font-weight: bold; }
  .review-stars {
    margin: 18px 0 30px;
    font-size: 14px;
    color: #cf3046; }
    .review-stars .fa {
      margin: 0 2px; }
  .review-text {
    color: #888;
    font-family: "Open Sans", sans-serif;
    font-weight: 400; }

.quotes {
  position: absolute;
  width: 100%; }
  .quotes::before, .quotes::after {
    content: ',,';
    position: absolute;
    top: 140px;
    font-size: 56px;
    color: #cf3046;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    line-height: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .quotes::before {
    top: 174px;
    left: -60px; }
  .quotes::after {
    right: -60px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); }

.footer{
  background: #2d2d2d;
  padding: 25px 0;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.copyright a{
  color: #cf3046;
  text-decoration: none;
  padding-left: 10px;
  cursor: pointer;
}

.copyright a:hover{
  cursor: pointer;
}

.copyright span{
    color: #747474;
    text-decoration: none;
    font-weight: normal;
    line-height: 25px;
    padding-right: 10px;
    border-right: 1px solid #747474;
}

.policy {
  font-size: 14px;
  color: #747474;
}

.policy:hover {
  cursor: pointer;
  color: #cf3046;
}

.top {
  width: 37px;
  height: 37px;
  overflow: hidden;
  background: #cf3046;
  color: #fff;
  border: 1px solid #fff;
  position: fixed;
  right: -50px;
  bottom: 60px;
  z-index: 999;
  border-radius: 5px;
  transition: .5s linear;
}

.top i{
  position: absolute;
  top: 45%;
  left: 38%;
  line-height: 0;
}
.top:hover {
  background: #fff;
  color: #cf3046;
  border: 1px solid #cf3046;
}
.top.active {
  right: 40px;
}

/* Модальное окно */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  display: block;
  max-width: 780px;
  width: 90%;
  position: fixed;
  border-radius: 5px;
  margin: auto;
  padding: 40px 45px;
  z-index: 100;
  left: 50%;
  top: 50%;
  /* Центруем */
  transform: translate(-50%, -50%);
  background-color: #2d2d2d;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
  display: none;
}

.modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}

.modal-title{
  margin:0;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #cf3046;
}

.close{
  font-size: 36px;
  border: none;
  background: transparent;
}

button.close-button {
  background-color: #cf3046;
}

button.close-button:hover {
  background-color: #f0f0f0;
  color: #cf3046;
  border: 2px solid #cf3046;
}

.modal-body {
  margin-bottom: 52px;
}

.order-row{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
}

.order-name {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

.order-price{
  margin-left: auto;
  margin-right: 47px;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}

.order-counter {
  display: flex;
  align-items: center;
}

.counter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 40px;
  background: #ffffff;
  border: 1px solid #cf3046;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #cf3046;
}

.counter-button:hover {
  background: #cf3046;
  border: 1px solid #f0f0f0;
  color: #f0f0f0;
}

.counter {
  line-height: 24px;
  font-size: 16px;
  margin: auto 10px;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d2d2d;
}

.modal-pricetag {
  background: #cf3046;
  border-radius: 5px;
  color: #ffffff;
  padding: 15px 20px;
  font-size: 20px;
  line-height: 23px;
}

.footer-butons {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  
  }

@media (max-width: 992px) {
  .header-block__promo {
    padding: 20px;
  }
  .header-block__form {
    display: flex;
    position: relative;
    right: -64%;
    bottom: 45px;
  }
  .header-block__contact {
    border: none;
    padding-right: 0;
    justify-content: flex-end;
    margin-top: 0;
  }
  .social-icons {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  
  }